{% extends 'farmer_base.html' %} {% load static %} {% block f_body %}

<link rel="stylesheet" href="{% static 'registration/css/style.css' %}">


<style>
    .nice-select{
        width: 100%;
    }
</style>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Add Products</h2>
                    <div class="breadcrumb__option">
                        <a href="/farmer/home">Home</a>
                        <span>Add Product</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Form Section -->
<section class="add_prod">
    <!-- <form action="" class="add_prod_class">
        <div class="add-prod-wrap">
            <div class="add-prod-wrap-option">
                <label for="prodType">Select Product Type:</label>
                <select name="prodType" id="prodType">
                    <option value="vegetable">Vegetable</option>
                    <option value="fruits">Fruits</option>
                </select>
            </div>
            <div class="add-prod-wrap-option">
                <label for="prodName">Select Product Name:</label>
                <select name="prodName" id="prodName">
                    <option value="onion">Onion</option>
                    <option value="potato">Potato</option>
                    <option value="tomato">Tomato</option>
                    <option value="garlic">Garlic</option>
                    <option value="cabbage">Cabbage</option>
                    <option value="spinach">Spinach</option>
                    <option value="carrot">Carrot</option>
                    <option value="broccoli">Broccoli</option>
                    <option value="apple">Apple</option>
                    <option value="orange">Orange</option>
                    <option value="pineapple">Pineapple</option>
                    <option value="mango">Mango</option>
                    <option value="banana">Banana</option>
                </select>
            </div>
        </div>
    </form> -->
    <form action="/farmer/add/product" class="register-form" id="register-form" method="POST">
        {% csrf_token %}
        <h2>Registration From</h2>
        <div class="form-row">
            <div class="form-group">
                <label for="prodType">Select Product Type :</label>
                <select name="prodType" id="prodType">
                    <option value="vegetable">Vegetable</option>
                    <option value="fruits">Fruits</option>
                </select>
            </div>
            <div class="form-group">
                <label for="prodName">Select Product :</label>
                <select name="prodName" id="prodName" style="width: 100%;">
                    <option value="onion">Onion</option>
                    <option value="potato">Potato</option>
                    <option value="tomato">Tomato</option>
                    <option value="garlic">Garlic</option>
                    <option value="cabbage">Cabbage</option>
                    <option value="spinach">Spinach</option>
                    <option value="carrot">Carrot</option>
                    <option value="broccoli">Broccoli</option>
                    <option value="apple">Apple</option>
                    <option value="orange">Orange</option>
                    <option value="pineapple">Pineapple</option>
                    <option value="mango">Mango</option>
                    <option value="banana">Banana</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="total_weight">Total Weight(in Kg) :</label>
                <div class="form-select">
                    <input type="number" name="total_weight" id="total_weight" required />
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price(per Kg) :</label>
                <div class="form-select">
                    <input type="number" name="price" id="price" required />
                </div>
            </div>
        </div>
        <div class="form-submit">
            <input type="submit" value="Reset All" class="submit" name="reset" id="reset" />
            <input type="submit" value="Submit" class="submit" name="submit" id="submit" />
        </div>

    </form>
</section>


{% endblock f_body %}